h1 {
  font-family: Prompt;
}
p {
  font-family: Prompt;
}
h2 {
  font-family: Prompt;
}
h3 {
  font-family: Prompt;
}
h4 {
  font-family: Prompt;
}
body {
background-image: url("https://wiseengine.netlify.app/cdn/background.png");
 background-color: #cccccc;
  background-repeat: no-repeat;
}
